%tr
  %td
    = check_box_tag("comments[]", comment.id, false, id: comment.id)
  %td
    %label{for: comment.id}
      = comment.title
  %td
    = comment.author
  %td
    = I18n.localize(comment.created_at, :format => :short)
  %td
    = I18n.localize(comment.updated_at, :format => :short)
