.row-fluid
  .entry_headline
    = link_to(entry.title, thread_message_path(entry))
    - if entry.photos.present?
      = link_to('', message_path(entry), class: 'icon-camera')
    - if entry.new_entry?
      %i.icon-gift.new-entry
    - if params[:words].present? && entry.search_hit?(params[:words])
      %i.icon-star.search-hit
.row-fluid
  .entry_headline
    = entry.author
    - if entry.homepage.present?
      = link_to('', entry.homepage, class: 'icon-home', target: '_blank')
    - if entry.mail.present?
      = mail_to(entry.mail, '', class: 'icon-envelope')
    .entry_headline_date
      = I18n.localize(entry.created_at, :format => :short)
