.container-fluid
  = link_to(t('buttons.new'), new_message_path, class: 'header')
  = paginate @messages, :window => 2, :outer_window => 2, :params => { words: 'hiro' }

  - @messages.each do |message|
    .row-fluid.tree
      - style = message.comments.present? ? 'message_headline_base_with_any_branch' : 'message_headline_base_with_no_branch'
      .row-fluid(class=style)
        = render(partial: 'message_headline',  object: message, as: :entry)
      .row-fluid.branches
        = render(partial: 'comment_headline', collection: message.comments, as: :entry)

  = link_to(t('buttons.new'), new_message_path, class: 'header')
  = paginate @messages, :window => 2, :outer_window => 2, :params => { words: 'hiro' }
