.row-fluid
  .span2= form.label :title, class: 'required'
  .span9= form.text_field :title
= render partial: "entry_form_error", object: entry, as: :entry, locals: {attribute: :title}
.row-fluid
  .span2= form.label :author, class: 'required'
  .span9= form.text_field :author
= render partial: "entry_form_error", object: entry, as: :entry, locals: {attribute: :author}
.row-fluid
  .span2= form.label :password, class: 'required'
  .span9= form.password_field :password
= render partial: "entry_form_error", object: entry, as: :entry, locals: {attribute: :password}
.row-fluid
  .span2= form.label :content, class: 'required'
  .span9= form.text_area :content, size: '300x15'
= render partial: "entry_form_error", object: entry, as: :entry, locals: {attribute: :content}
.row-fluid
  .span2= form.label :mail
  .span9= form.text_field :mail
= render partial: "entry_form_error", object: entry, as: :entry, locals: {attribute: :mail}
.row-fluid
  .span2= form.label :homepage
  .span9= form.text_field :homepage
= render partial: "entry_form_error", object: entry, as: :entry, locals: {attribute: :homepage}

= form.fields_for :photos do |photo_form|
  .row-fluid
    .span2
      = photo_form.label :photo_data
      = photo_form.hidden_field :no
    .span4
      = photo_form.text_field :title
    .span4
      = photo_form.file_field :photo_data
      = photo_form.hidden_field :photo_data_cache
    - if photo_form.object.persisted?
      .span2
        = photo_form.check_box :_destroy
        = photo_form.label :_destroy
    - if photo_form.object.errors.present?
      .row-fluid
        .span9.offset2.alert.alert-error
          - photo_form.object.errors.full_messages.each do |msg|
            = msg
