.control-group
  = form.label :title, class: 'control-label required'
  .controls
    = form.text_field :title, class: 'input-xlarge'
    = render partial: "entry_form_error", object: entry, as: :entry, locals: {attribute: :title}
.control-group
  = form.label :author, class: 'control-label required'
  .controls
    = form.text_field :author, class: 'input-xlarge'
    = render partial: "entry_form_error", object: entry, as: :entry, locals: {attribute: :author}
.control-group
  = form.label :password, class: 'control-label required'
  .controls
    = form.password_field :password, class: 'input-xlarge'
    = render partial: "entry_form_error", object: entry, as: :entry, locals: {attribute: :password}
.control-group
  = form.label :content, class: 'control-label required'
  .controls
    = form.text_area :content, class: 'input-xxlarge', size: '300x15'
    = render partial: "entry_form_error", object: entry, as: :entry, locals: {attribute: :content}
.control-group
  = form.label :mail, class: 'control-label'
  .controls
    = form.text_field :mail, class: 'input-xlarge'
    = render partial: "entry_form_error", object: entry, as: :entry, locals: {attribute: :mail}
.control-group
  = form.label :homepage, class: 'control-label'
  .controls
    = form.text_field :homepage, class: 'input-xxlarge'
    = render partial: "entry_form_error", object: entry, as: :entry, locals: {attribute: :homepage}

= form.fields_for :photos do |photo_form|
  .control-group
    = photo_form.label :photo_data, class: 'control-label'
    = photo_form.hidden_field :no
    .controls
      = photo_form.text_field :title
      = photo_form.file_field :photo_data
      = photo_form.hidden_field :photo_data_cache
      - if photo_form.object.persisted?
        = photo_form.check_box :_destroy
        = photo_form.label :_destroy
      - if photo_form.object.errors.present?
        .alert.alert-error
          - photo_form.object.errors.full_messages.each do |msg|
            = msg
            %br
