.row-fluid
  .span12
    .page_header
      %span.icon_base
        .pagination.pagination_base
          %ul
            %li= link_to('', root_path, class: 'icon-home')
            %li= link_to('', new_message_path, class: 'icon-file')
      %span.pager_base
        - if tablet?
          = paginate messages, window: 2
        - else
          = paginate messages
      %span.search_base
        = form_tag(trees_messages_path, method: :get, class: 'form-search') do
          .input-append
            = text_field_tag :words, params['words'], class: 'input-small search-query'
            = submit_tag(t('buttons.search'), name: nil, class: 'btn')
