!!!
%html
  %head
    %title The Foveon BBS
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = auto_discovery_link_tag(:rss, controller: :messages, action: :feed, format: :rss)
  %body
    = yield
